body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #59966a;
    color: #fff;
    padding: 25px;
    border: 2px solid black; /* Grosor del borde de 2 píxeles */
    box-sizing: border-box; /* Mantener el tamaño del elemento incluyendo el borde */
}

.left-sidebar, .right-content, footer {
    box-sizing: border-box; /* Mantener el tamaño del elemento incluyendo el borde */
}

.left-sidebar {
    width: 30%;
    float: left;
    background-color: #3a5574;
    height: 500px;
    border: 2px solid black; /* Grosor del borde de 2 píxeles */
}

.right-content {
    width: 70%;
    float: right;
    background-color: #965959;
    height: 500px;
    border: 2px solid black; /* Grosor del borde de 2 píxeles */
}

footer {
    background-color: #59966a;
    color: #fff;
    padding: 20px;
    clear:both;
    border: 2px solid black; /* Grosor del borde de 2 píxeles */
}

.contenedor-flores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.flor {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #965959;
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.flor img {
    width: 40%; /* Cambiar el ancho de la imagen */
    max-height: 190px;
    object-fit: cover;
    border-radius: 4px;
    border: none; /* Eliminar el borde */
}
